.s-button{
  background-color: rgb(76, 10, 111);
  color:white;
  border:black;
  border-radius: 3px;
  cursor:pointer;
  text-align: center;

  margin-right:10px;
transition: opacity 0.3s;
color 1s ;
padding-top:10px;
padding-bottom:10px;
padding-left: 16px;
padding-right:16px;
vertical-align:top;
}
  .s-button:hover{
opacity:0.8;
  }
  .s-button:active{
opacity: 0.5;
  }
  .join-button:hover{
    background-color:rgb(22, 112, 214);
    color:white;

  }
  .join-button:active{
    opacity: 0.7;
  }
  
.tweet-button:hover{
 box-shadow:  5px 5px 10px rgba(0,0,0,0.6);
}
.tweet-button:active{
  opacity:0.7 ;
  
}
.tweet-button{
  background-color:rgb(22, 112, 214);
  color:white;

  border-radius: 19px;
  cursor: pointer;
  margin-left: 8px;
  font-weight: bold;
  font-size: 14px;
  transition: box-shadow 0.5s;
  margin-left: 8px;
  padding-right: 10px;
  vertical-align:top;
  padding-top :10px;
  padding-bottom:10px;
  padding-left:16px;
  padding-right:16px;
}

 .join-button {
  background-color:rgb(242, 242, 242);
  border-color:blue;
  border-style:solid;
  border-width :1px;
  color:blue;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.15s,
  color 0.15s;
  margin-left: 10px;
  margin: right 10px;
padding-top:10px;
padding-bottom:10px;
padding-left: 16px;
padding-right:16px;
}