 p{
    font-family:Roboto;
    margin-top:0px;
    margin-bottom: 0px;
  }
  .video-title{
   font-weight:bold;
   font-size:15px;
   width:300px;
   line-height:24px;
   margin-bottom: 6px;
  }
  .video-stats{
    font-size:14px;
    color:rgb(96,96,96);
    margin-top: 0px;
    margin-bottom:20px;
  }
  .video-author{
   font-size: 14px;
    color:rgb(96,96,96);
    margin-top: 0px;
    margin-bottom: 20;

  }
  .video-description{
    font-size: 14;
    color:rgb(96,96,96);
    width:270px;
    line-height: 22px;
    margin-top:0px;
    margin-bottom: 20px;
  }
  .shop-description{
    margin-bottom:60px;
    font-size: 14px;
    background-color: rgb(277,65,64);
    color:white;
    text-align:center;
    padding-top:18px;
    padding-bottom:18px;
    text-decoration:;

  }
  .span-now{
    cursor:pointer;
    margin-left:12px;

  }
  .span-now:hover{
    text-decoration:underline;
  }