.header{
  height:57px;
  margin-bottom:20px;
  margin-top:0;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:100;

  background-color:rgb(255, 255, 255);
  border-bottom-width:1px;
  border-bottom-style:solid;
  border-bottom-color:rgb(228, 224, 224);
}
.left-section{
 

  display:flex;
  align-items:center;

}
.hamburger-menu{
  height:24px;
  margin-left:24px;
  margin-right:24px;
}
.youtube-logo{
  height:20px;
  margin-left:24px
  margin-right:24px;
}


.search-bar{
  flex: 1;
  height:36px;
  padding-left:10px;
  font-size:16px;
  border-width:1px;
  border-style:solid;
  border-color:rgb(192, 192, 192);
  border-radius:2px;
  box-shadow: inset 1px 2px 5px rgba(0,0,0,0.05);
  width:0;
}
.search-bar::placeholder {
  font-family:Roboto,arial;
  font-size:16px;
}
  .search-button {
    height:40px;
    width:66px;
    background-color:rgb(240,240,240);
    border-width: 1px;
    border-style: solid;
    border-color:rgb(192,192,192);
    margin-left:-1px;
    margin-right:8px;
    
  }
  .search-button ,.voice-search-button ,.upload-icon-container,
  .user-profile .tooltip ,.youtube-applications .tooltip{
    position:relative;
    
  }
  .upload-icon-container,.notification-icon-box .tooltip,.user-profile .tooltip,.youtube-applications .tooltip{
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    
  }
  .search-button .tooltip,.voice-search-button .tooltip,.upload-icon-container .tooltip,
  .notification-icon-box .tooltip,.user-profile .tooltip ,.youtube-applications .tooltip{
    font-family:Roboto,Arial;
    position:absolute;
    background-color: grey;
    color:white;
    padding-top:4px;
    padding-bottom:4px;
    padding-left:8px;
    padding-right:8px;
    border-radius:2px;
    font-size:12px;
    bottom:-30px;
    opacity:0;
    transition: opacity 0.15s;
    pointer-events:none;
white-space:nowrap;
  }
  .search-button:hover .tooltip,
  .voice-search-button:hover .tooltip,
  .upload-icon-container:hover .tooltip,
  .notification-icon-box:hover .tooltip,
  .user-profile:hover .tooltip,
  .youtube-applications:hover .tooltip{
    opacity:1;

  }

  .search-icon{
    height:25px;
    margin-top:4px;
  }
 .middle-section{ 
  flex:1;
  margin-left:70px;
  margin-right:35px;
  max-width:500px;
  display:flex;
  align-items:center;
}
.voice-search-button{
  height: 30px;
  width: 40px;
  border-radius:20px;
  border:none;
  background-color: rgb(246, 246, 246);

}
.voice-search-icon{
  height:24px;
  margin-top:4px;

}
.right-section{
  
  width:180px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  margin-right:20px;
  flex-shrink:0;
}
.upload-icon{
  height:24px;

}
.youtube-apps-icon{
height:24px;
}
.notification-icon{
height:24px;
}
.notification-icon-container{
  position:relative;
 
}
.notification-count{
  position:absolute;
  top:15px;
  right:75px;
  background-color: rgb(211, 57, 57);
  color:white; 
  font-family:Roboto,Arial;
  font-size:9px;
  padding-left:5px ;
  padding-right:5px;
  padding-top:2px;
  padding-bottom:2px;
  border-radius:10px;
}
.current-user-picture{
  height:32px;
  border-radius:16px;
  
}
